 * {
     box-sizing: border-box;
 }
 
 html {
    scroll-behavior: smooth;
 }

 body {
     width: 100%;
     margin: 0;
     background-color: #292323;
     color: white;

     background-image: url("../img/Sombra_proz.png");
     background-position: 418px 128px;
     background-size: 1536px 2052px;
     /* background-attachment: fixed; */
     /* background-size: cover; */
     background-repeat: no-repeat;
 }

@font-face {
    font-family: "Avenirnext_medium";
src: url("../fonts/AvenirNext-Medium-06.ttf");
}

@font-face {
    font-family: "Avenirnext_regular";
    src: url("../fonts/AvenirNext-Regular-08.ttf");
}

@font-face {
    font-family: "Avenirnext_light";
    src: url("../fonts/AvenirNext-UltraLight-11.ttf");
}

 .container {
     margin: 0 auto;
     max-width: 1440px;
     padding: 0 25px;
 }

 .horizontal {
     display: flex;
     align-items: center;
 }

 .space-between {
     justify-content: space-between;
 }

 .navigation_item {
     color: white;
     text-decoration: none;
     font-family: "Avenirnext_regular";
     font-weight: 500;
     font-size: 32px;
     margin: 16px;
       
}
.anim {
    transition: 0.3s ease-in-out;
}
.anim:hover {
    transform: scale(1.1);
}

 .navigation_logo {
     color: white;
     text-decoration: none;
     font-family: "Comfortaa";
     font-weight: 500;
     font-size: 40px;
 }



 .header__container {
     padding-top: 15px;
 }

 .header {
     background-image: url(../img/ShadowPunk.PNG);
     background-color: black;
     height: 74px;
     border-radius: 0 0 25px 25px;
     margin-left: 25px;
     margin-right: 25px;
     background-size: 110% auto;
     background-position: 0px 48%;
 }


 .block_on_block {

     /* justify-content: space-around; */
     display: flex;
     margin-top: 99px;

 }


 .aboutme_block {
     background-color: #7EC9CE;
     width: 326.25px;
     height: 79.5px;
     border-radius: 43.5px;
     /* position: relative;
    top: 240px;
    left: 833px; */
     justify-content: center;
     display: flex;
     margin-top: 184px;
     margin-left: 433px;
 }

 .obomne {
     font-family: "Comfortaa";
     font-weight: 400;
     font-size: 54px;
     color: #292323;
     align-items: center;
     text-align: center;
     justify-content: center;
     display: flex;
 }

 .myphotos {
     justify-content: center;
     display: flex;

 }

 .realme_photo {
     background-image: url("../img/me_real.JPG");
     border-radius: 1000px;
     width: 354px;
     height: 354px;
     background-size: 100%;
     background-position: center;


     box-shadow: 0px 0px 0px 25px #292323;

     position: absolute;
     top: 163px;
     left: 212px;



 }

 .doodleme_photo {
     background-image: url("../img/me_drawing.JPG");
     border-radius: 1000px;
     width: 354px;
     height: 354px;
     background-size: 130%;
     background-position: center;
}

 .photoswrapper {
     position: relative;
     margin-left: 55px;
}


.texts_about_me {
    margin-top: 226px;
    margin-left: 126px;
    margin-right: 120px;
    font-size: 25px;
}

.aboutme_text_head {
font-family: "Avenirnext_medium";
margin: 0 auto;
}

.aboutme_text {
    font-family: "Avenirnext_regular";
    font-weight: 100;
    margin: 0 auto;
}

.footer {
    margin-top: 109px;
}
.footer_block {
    background-color:#484451;
    height: 59px;
    border-radius: 50px 50px 0 0;
    background-size: 110% auto;
    background-position: 0px 48%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.the_end {
    color: #A49FAE;
     text-decoration: none;
     font-family: "Avenirnext_regular";
     font-size: 23px;
     /* margin: 42px; */
     text-align: center;
     align-items: center;
}

.the_end:not(:last-child) {
    margin-right: 84px;
}